<section class="ampImageWrapper">
        <picture>
                <source class="owl-lazy" media="(max-width: 399px)" srcset="https://{{image.defaultHost}}/i/sw/{{escapeUrl image.name}}{{#if seoText}}/{{escapeUrl
                seoText}}{{/if}}?w=400{{#getRoundelAnchor roundel.0. "mobile"}}{{/getRoundelAnchor}}">
                <source class="owl-lazy" media="(max-width: 575px)" srcset="https://{{image.defaultHost}}/i/sw/{{escapeUrl image.name}}{{#if seoText}}/{{escapeUrl
                seoText}}{{/if}}?w=576{{#getRoundelAnchor roundel.0. "mobile"}}{{/getRoundelAnchor}}">
                <source class="owl-lazy" media="(max-width: 767px)" srcset="https://{{image.defaultHost}}/i/sw/{{escapeUrl image.name}}{{#if seoText}}/{{escapeUrl
                seoText}}{{/if}}?w=768{{#getRoundelAnchor roundel.0. "mobile"}}{{/getRoundelAnchor}}">
                <source class="owl-lazy" media="(max-width: 991px)" srcset="https://{{image.defaultHost}}/i/sw/{{escapeUrl image.name}}_1440{{#if seoText}}/{{escapeUrl
                seoText}}{{/if}}?w=992{{#getRoundelAnchor roundel.0. "desktop"}}{{/getRoundelAnchor}}">
                <source class="owl-lazy" media="(max-width: 1199px)" srcset="https://{{image.defaultHost}}/i/sw/{{escapeUrl image.name}}_1440{{#if seoText}}/{{escapeUrl
                seoText}}{{/if}}?w=1200{{#getRoundelAnchor roundel.0. "desktop"}}{{/getRoundelAnchor}}">
                <source class="owl-lazy" media="(max-width: 1439px)" srcset="https://{{image.defaultHost}}/i/sw/{{escapeUrl image.name}}_1440{{#if seoText}}/{{escapeUrl
                seoText}}{{/if}}?w=1440{{#getRoundelAnchor roundel.0. "desktop"}}{{/getRoundelAnchor}}">
                <source class="owl-lazy" media="(max-width: 2399px)" src-retina="https://{{image.defaultHost}}/i/sw/{{escapeUrl image.name}}{{#if seoText}}/{{escapeUrl
                seoText}}{{/if}}?w=2400{{#getRoundelAnchor roundel.0. "desktop"}}{{/getRoundelAnchor}}">
                <source class="owl-lazy" media="(max-width: 3039px)" src-retina="https://{{image.defaultHost}}/i/sw/{{escapeUrl image.name}}{{#if seoText}}/{{escapeUrl
                seoText}}{{/if}}?w=3040{{#getRoundelAnchor roundel.0. "desktop"}}{{/getRoundelAnchor}}">

                <img class="owl-lazy" src="https://{{image.defaultHost}}/i/sw/{{escapeUrl image.name}}_1440{{#if seoText}}/{{escapeUrl
                seoText}}{{/if}}?w=1440{{#getRoundelAnchor roundel.0. "desktop"}}{{/getRoundelAnchor}}" alt="{{imageAltText}}">
        </picture>
</section>
